[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
grpcio = "*"
loguru = "==0.6.0"
websockets = "==10.1"
fastapi = "==0.73.0"
uvicorn = "==0.17.4"
python-dotenv = "*"
pre-commit = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
